[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

twobitreader = "==3.1.5"
flask = "*"
numpy = "==1.13.3"
"h5py" = "*"
pyopenssl = "*"


[dev-packages]

pytest = "*"
pytest-benchmark = "*"
hypothesis = "*"
